<div>
  <% if card_account.errors.any? %>
    <p>Foram encontrados <%= card_account.errors.count %> error(s): </p>
    <ul>
      <% card_account.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_with url: url, 
              model: [:user, company, payment_method, card_account] do |form| %>
  <dl>
    <dt><%= form.label :credit_code %></dt>
    <dd><%= form.text_field :credit_code, maxlength: 20 %></dd>
  </dl>

  <%= form.submit t('.submit'), class: 'btn btn-dark' %>
<% end %>