<h1><%= @company.name %></h1>
<hr class="my-4">

<dl>
  <dt>Domínio de email:</dt>
  <dd><%= @company.email_domain %></dd>

  <dt>CNPJ:</dt>
  <dd><%= @company.cnpj %></dd>

  <dt>Endereço de cobrança:</dt>
  <dd><%= @company.billing_adress %></dd>

  <dt>Email de cobrança:</dt>
  <dd><%= @company.billing_email %></dd>

  <div class="row justify-content-start">
    <div class="col-4">
      <dt>Token de autenticação:</dt>
      <dd><%= @company.token %></dd>
    </div>
    <div class="col-4">
      <dd><%= link_to t('.new_token'), generate_token_admin_company_path(@company), method: :put, 
                    data: { confirm: 'Tem certeza?' }, class: 'btn btn-dark' %>
    </div>
  </div>
</dl>

<div>
  <%= link_to t('.update_info'), edit_admin_company_path(@company), class: 'btn btn-dark' %>
  <%= link_to t('.return'), admin_companies_path, class: 'btn btn-dark' %>
  <%= link_to t('.orders_index'), admin_company_orders_path(@company), class: 'btn btn-dark' %>
</div>

<h3 class="py-3">Membros da empresa:</h3>
<div>
  <% @company.users.each do |user| %>
    <h5><%= user.email %></h5>
    <p><%= User.human_attribute_name("role.#{user.role}") %></p>
    <p><%= user.status ? 'Ativo' : 'Inativo' %></p>
  <% end %>
<div>