<h1><%= t('.title') %></h1>
<hr class="my-4">

<% if @orders.any? %>
  <% @orders.each do |order| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to order.product.name, admin_company_order_path(@company, order) %></h5>
        <dl>
          <dt>Status:</dt>
          <dd><%= Order.human_attribute_name(".status.#{order.status}") %></dd>

          <dt>Token:</dt>
          <dd><%= order.token %></dd>

          <dt>Data da compra:</dt>
          <dd><%= I18n.l order.created_at, format: :long %></dd>
        </dl>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Nenhum pedido disponível</p>
<% end %>
