<h1><%= t('.title') %></h1>
<hr class="my-4">

<div class="py-3">
  <%= link_to 'Cadastrar Método de Pagamento', new_admin_payment_method_path, class: 'btn btn-dark' %>
</div>

<h3>Métodos Cadastrados:</h3>
<% if @payment_methods.any? %>
  <div class="row">
    <% @payment_methods.each do |payment_method| %>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <%= image_tag payment_method.category_icon, size: '50' %>
          <h5 class="card-title"><%= link_to payment_method.name, [:admin, payment_method] %></h5>
        </div>
        <div class="card-body">
          <p class="card-text"><b>Status:</b> <%= payment_method.status ? 'Ativo' : 'Inativo' %></p>
        </div>
      </div>
    <% end %>  
  </div>
<% else %>
  <p>Nenhum método cadastrado.</p>
<% end %>
