<h1><%= @payment_method.name %></h1>
<hr class="my-4">

<dl>
  <% if @payment_method.category_icon.attached? %>
    <%= image_tag @payment_method.category_icon %>
  <% end %>
  <dt>Taxa por cobrança (%):</dt>
  <dd><%= number_with_delimiter(@payment_method.billing_fee, delimiter: ',') %></dd>
  <dt>Taxa máxima:</dt>
  <dd><%= number_to_currency @payment_method.max_fee %></dd>
  <dt>Status:</dt>
  <dd><%= @payment_method.active ? 'Ativo' : 'Inativo' %></dd>
  <dt>Categoria:</dt>
  <dd><%= PaymentMethod.human_attribute_name("role.#{@payment_method.category}") %></dd>
</dl>