<h1><%= @payment_method.name %></h1>
<hr class="my-4">

<dl>
  <% if @payment_method.category_icon.attached? %>
    <%= image_tag @payment_method.category_icon, size: '50' %>
  <% end %>
  <dt>Taxa por cobrança (%):</dt>
  <dd><%= number_with_delimiter(@payment_method.billing_fee, delimiter: ',') %></dd>
  <dt>Taxa máxima:</dt>
  <dd><%= number_to_currency @payment_method.max_fee %></dd>
  <dt>Categoria:</dt>
  <dd><%= PaymentMethod.human_attribute_name("category.#{@payment_method.category}") %></dd>
</dl>

<% if @payment_method.boleto? %>
  <%= link_to 'Cadastrar Dados Para Boleto', 
      new_user_company_payment_method_boleto_account_path(@company.token, @payment_method), 
          class: 'btn btn-dark' %>
<% elsif @payment_method.card? %>
  <%= link_to 'Cadastrar Dados Para Cartão', 
      new_user_company_payment_method_card_account_path(@company.token, @payment_method), 
          class: 'btn btn-dark' %>
<% else %>
  <%= link_to 'Cadastrar Dados Para PIX', '#', class: 'btn btn-dark' %>
<% end %>