
<%= t('.title') %>
<hr class="my-4">

<div>
  <% if @company.errors.any? %>
    <p>Foram encontrados <%= @company.errors.count %> error(s): </p>
    <ul>
      <% @company.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_with url: user_company_path(@company.token), model: [:user, @company] do |form| %>
  <dl>
    <dt><%= form.label :billing_adress %></dt>
    <dd><%= form.text_field :billing_adress %></dd>

    <dt><%= form.label :billing_email %></dt>
    <dd><%= form.email_field :billing_email %></dd>

    <%= form.submit t('.submit'), class: 'btn btn-dark' %>
  </dl>
<% end %>

<div class="py-3">
  <%= link_to t('.cancel'), user_company_path(@company.token), class: 'btn btn-dark'%>
</div>