<h1><%= t('.title') %></h1>
<hr class="my-4">

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h3 class="py-3">Boletos:</h3>
      <% if @company.boleto_accounts.any? %>
        <% @company.boleto_accounts.each do |boleto| %>
          <div class="card">
            <div class="card-body">
              <h5><%= boleto.payment_method.name %></h5>
              <dl>
                <dt>Código do Banco:</dt>
                <dd><%= boleto.bank_code %></dd>

                <dt>Número da agência:</dt>
                <dd><%= boleto.agency_number %></dd>

                <dt>Conta Bancária</dt>
                <dd><%= boleto.bank_account %></dd>
              </dl>
              <%= link_to 'Editar', 
                  edit_user_company_payment_method_boleto_account_path(@company.token, boleto.payment_method, boleto), 
                    class: 'btn btn-dark' %>
              <%= link_to 'Deletar', 
                  user_company_payment_method_boleto_account_path(@company.token, boleto.payment_method, boleto), 
                    method: :delete, data: { confirm: 'Tem certeza?'}, class: 'btn btn-dark' %>
            </div>
          </div>
        <% end %>
      <% else %> 
        <p>Nenhum dado para recebimento via boletos cadastrado</p>
      <% end %>
    </div>
    <div class="col">
      <h3 class="py-3">Cartões:</h3>
    </div>
    <div class="col">
      <h3 class="py-3">PIX:</h3>
    </div>
  </div>
</div>
