<h1><%= t('.title') %></h1>
<hr class="my-4">

<div>
  <% if @company.errors.any? %>
    <p>Foram encontrados <%= @company.errors.count %> error(s): </p>
    <ul>
      <% @company.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_with model: [:user, @company] do |form| %>
  <dl>
    <dt><%= form.label :name %></dt>
    <dd><%= form.text_field :name %></dd>

    <dt><%= form.label :cnpj %></dt>
    <dd><%= form.text_field :cnpj %></dd>

    <dt><%= form.label :billing_adress %></dt>
    <dd><%= form.text_field :billing_adress %></dd>

    <dt><%= form.label :billing_email %></dt>
    <dd><%= form.email_field :billing_email %></dd>

    <%= form.submit t('.submit'), class: 'btn btn-dark' %>
  </dl>
<% end %>
