<h1><%= @company.name %></h1>
<hr class="my-4">

<dl>
  <dt>Domínio de email:</dt>
  <dd><%= @company.email_domain %></dd>

  <dt>CNPJ:</dt>
  <dd><%= @company.cnpj %></dd>

  <dt>Endereço de cobrança:</dt>
  <dd><%= @company.billing_adress %></dd>

  <dt>Email de cobrança:</dt>
  <dd><%= @company.billing_email %></dd>

  <div class="row justify-content-start">
    <div class="col-4">
      <dt>Token de autenticação:</dt>
      <dd><%= @company.token %></dd>
    </div>
    <div class="col-4">
      <% if current_user.customer_admin?%>
        <dd><%= link_to t('.new_token'), generate_token_user_company_path(@company.token), method: :put, 
                      data: { confirm: 'Tem certeza?' }, class: 'btn btn-dark' %>
      <% end %>
    </div>
  </div>
</dl>

<% if current_user.customer_admin?%>
  <div>
    <%= link_to t('.update_info'), edit_user_company_path(@company.token), class: 'btn btn-dark' %>
  </div>
<% end %>

<div class='py-3'>
  <%= link_to t('.new_payment_method'), user_company_payment_methods_path(@company.token), class: 'btn btn-dark' %>
  <%= link_to t('.my_payment_methods'), my_payment_methods_user_company_path(@company.token), class: 'btn btn-dark' %>
  <%= link_to t('.my_products'), user_company_products_path(@company.token), class: 'btn btn-dark' %>
  <%= link_to t('.my_orders'), user_company_orders_path(@company.token), class: 'btn btn-dark' %>
</div>

<h3 class="py-3">Membros da empresa:</h3>
<div>
  <% @company.users.each do |user| %>
    <h5><%= user.email %></h5>
    <p><%= User.human_attribute_name("role.#{user.role}") %></p>
    <p><%= user.status ? 'Ativo' : 'Inativo' %></p>
  <% end %>
<div>
