<h1><%= @company.name %></h1>
<hr class="my-4">

<dl>
  <dt>Domínio de email:</dt>
  <dd><%= @company.email_domain %></dd>

  <dt>CNPJ:</dt>
  <dd><%= @company.cnpj %></dd>

  <dt>Endereço de cobrança:</dt>
  <dd><%= @company.billing_adress %></dd>

  <dt>Email de cobrança:</dt>
  <dd><%= @company.billing_email %></dd>

  <div class="row justify-content-start">
    <div class="col-4">
      <dt>Token de autenticação:</dt>
      <dd><%= @company.token %></dd>
    </div>
    <div class="col-4">
      <dd><%= link_to t('.new_token'), generate_token_user_company_path(@company.token), method: :put, 
                    data: { confirm: 'Tem certeza?' }, class: 'btn btn-dark' %>
    </div>
  </div>
</dl>

<div>
  <%= link_to t('.update_info'), edit_user_company_path(@company.token), class: 'btn btn-dark' %>
</div>
